# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Agent
.agents/*
.qoder
.code-review-graph/*
.gemini/
.claude/
.kiro/
.antigravitycli/
.agetnts/

.gitignore
master_plan/*
AGENTS.md
CLAUDE.md
GEMINI.md
QODER.md
.cursorrules
.mcp.json
.opencode.json
code-review-graph.json
.github/code-review-graph.instruction.md
.windsurfrules
.code-review-graph/

# Test files
*_test.go
test.sh
test_output/
streamline.test